 <!-- The below syntax(<%= %>) are EJS syntax used for dynamic website(if we want to change something)
            they act as variable here -->
<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>Rendered from home.ejs which is inside the Template Engine folder</h1>
    </body>
</html>