<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>hello</h1>
        <ul>
            <% for(let i=1;i<6;i++) { %>
                <li>
                    <%= i%>
                </li>
           <% }%>
        </ul>


        <% if(5==='5'){ %>
            <p> true <p>
          <% } else { %> 
                <p> false </p>
         <% } %>      
    </body>
</html>